<launch>

  <node pkg="ndt_localization" type="ndt_localization_node" name="ndt_localization_node" output="screen">
    <rosparam file="$(find ndt_localization)/params/test.yaml" command="load" />
    <!-- <param name="global_map_file" value="$(find static_map)/map_file/zhiquan_43w.pcd"/> -->
    <param name="global_map_file" value="$(find bag_file)/zhiquan_no_ground.pcd"/>
  </node>
</launch>
